/* General Styling */
* {
    font-family: "Lato", 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Reem Kufi Ink", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    margin: 0;
}

h2 {
    font-family: "Aref Ruqaa Ink", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    margin-bottom: 2rem;
}

h3 {
    font-family: "Aref Ruqaa Ink", serif;
    font-size: 1.5rem;
    margin: 0;
}

h4 {
    font-size: .8rem;
    margin: 0;
    padding: 0;
    font-weight: 500;
    color: gray;
    line-height: 1;
}

a {
    color: #333;
    text-decoration: none;
}



/* ----- ----- ----- */
/* ----- ----- ----- */

/* Header */
header {
    background-color: #00045d;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #fff;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 5px;
}

/* Navigation */
nav ul {
    list-style: none;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav button {
    background-color: #fff;
    border: 2px solid #00045d;
    padding: 0.8em;
    font-size: 1em;
    color: #00045d;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    height: 90px;
    width: 100px;
    margin: auto;
}

nav button:hover {
    background-color: #00045d;
    color: #fff;
}

nav button:active {
    transform: scale(0.98);
}

/* Icons */
nav button::before {
    display: block;
    margin: 0 auto 5px auto;
    transition: transform 0.3s ease;
}

nav button:active::before {
    transform: rotate(20deg);
    /* Flask icon wiggle effect */
}


/* ----- ----- ----- */
/* ----- ----- ----- */

/* Hero Section */
div.header {
    background: url('hero-image.jpg') no-repeat center center/cover;
    color: #fff;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: -1px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

hero img {
    max-width: 200px;
    border-radius: 50%;
}

.hero p {
    font-size: 1.5rem;
}


/* ----- ----- ----- */
/* ----- ----- ----- */

/* About Section */
.about {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-text p {
    font-size: 1.2rem;
}


/* ----- ----- ----- */
/* ----- ----- ----- */

/* New Releases & Books Section */
.new-releases {
    padding: 2rem;
    background-color: #f4f4f4;
    text-align: center;
}

#content-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    margin: 20px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    max-width: 250px;
}

.card h3 {
    color: #ff6f00;
    font-size: 1.5em;
}

.card p {
    color: #666;
    font-size: 1em;
    margin: 10px 0;
}

.card a {
    color: #ff6f00;
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-decoration: underline;
    margin-bottom: .5em;
}

.card:hover {
    transform: scale(1.05);
}



/* ----- ----- ----- */
/* ----- ----- ----- */

/* Blockquote */

blockquote {
    font-size: 1.2rem;
    font-style: italic;
    color: #555;
    border-left: 5px solid #0056b3;
    margin: 1.5rem 0;
    padding: 0.5rem 1rem;
    background-color: #f9f9f9;
    quotes: "“" "”" "‘" "’";
}

blockquote:before {
    content: open-quote;
    font-size: 2rem;
    color: #0056b3;
    vertical-align: top;
    line-height: 0;
    margin-right: 0.2rem;
}

blockquote:after {
    content: close-quote;
    font-size: 2rem;
    color: #0056b3;
    vertical-align: bottom;
    line-height: 0;
    margin-left: 0.2rem;
}

blockquote p {
    display: inline;
}


/* ----- ----- ----- */
/* ----- ----- ----- */

/* Footer */
footer {
    background-color: #00045d;
    color: #fff;
    text-align: center;
    padding: 2rem;
}

footer .social-links a {
    margin: 0 0.5rem;
    color: #fff;
}

footer .mailing-list {
    margin-top: 1rem;
}

footer form {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer input[type="email"] {
    padding: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 5px;
    border: none;
}

footer button {
    padding: 0.5rem 1rem;
    background-color: #ff9900;
    border: none;
    color: #fff;
    cursor: pointer;
}

footer a {
    font-size: 1em;
    color: #ff6f00;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    height: 90px;
    width: 100px;

}