/* General Styling */
* {
    font-family: "Lato", 'Arial', sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1.6;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    margin: 0;
}

h2 {
    font-family: "Aref Ruqaa Ink", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    margin-bottom: 2rem;
}

h3 {
    font-family: "Lato", serif;
    font-size: 1.5rem;
    margin: 0;
    font-weight: 600;
}

h4 {
    font-size: .8rem;
    margin: 0;
    padding: 0;
    font-weight: 500;
    color: gray;
    line-height: 1;
}

a {
    color: #333;
    text-decoration: none;
}

section {
    margin: auto;
}

/* ----- ----- ----- */
/* ----- ----- ----- */

/* Header */
header {
    background-color: #00045d;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #fff;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 5px;
}

/* Navigation */
nav ul {
    list-style: none;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav button {
    background-color: #fff;
    border: 2px solid #00045d;
    padding: 0.8em;
    font-size: 1em;
    color: #00045d;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    height: 90px;
    width: 100px;
    margin: auto;
}

nav button:hover {
    background-color: #00045d;
    color: #fff;
}

nav button:active {
    transform: scale(0.98);
}

/* Icons */
nav button::before {
    display: block;
    margin: 0 auto 5px auto;
    transition: transform 0.3s ease;
}

nav button:active::before {
    transform: rotate(20deg);
    /* Flask icon wiggle effect */
}


/* ----- ----- ----- */
/* ----- ----- ----- */

/* Hero Section */
div.header {
    background: url('hero-image.jpg') no-repeat center center/cover;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

hero img {
    max-width: 200px;
    border-radius: 50%;
    margin: 2rem;
}

.hero p {
    font-size: 1.5rem;
}


/* ----- ----- ----- */
/* ----- ----- ----- */

/* About Section */
.about {
    margin: 2rem;
    justify-content: center;
    align-items: center;
}

.about-text p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: auto;
}


/* ----- ----- ----- */
/* ----- ----- ----- */

/* MailChimp Formatting */

div.mailchimpsignup {
    width: auto;
    font-family: inherit;
    font-size: 1em;
    display: block;
    margin: auto;
    border: 0;
    background: ivory;
    border-radius: 0;
    padding: 2rem;
    text-align: center;
}

.mailchimpsignup h2 {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 1.7rem;
    margin-bottom: 10px;
}

input#mc-embedded-subscribe {
    font-size: 1.2rem;
    margin: 18px;
    border-radius: 0;
    background: orangered;
    color: ivory;
    padding: 5px 20px;
    cursor: pointer;
    font-weight: 600;
    border: none;
    box-shadow: 2px 2px 4px rgba(0,0,0,.2);
    transition: box-shadow 0.2s ease-in-out;
}

input#mc-embedded-subscribe:hover {
    box-shadow: 2px 2px 4px rgba(0,0,0,.5);
}

input#mce-EMAIL {
    border-radius: 0;
    font-size: 1rem;
    width: 90%;
    max-width: 300px;
    padding: 3px 7px;
    border: 1px solid rgba(0,0,0,.2);
}



/* ----- ----- ----- */
/* ----- ----- ----- */

/* New Releases & Books Section */
.new-releases {
    padding: 2rem;
    background-color: #f4f4f4;
    text-align: center;
}

#content-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    margin: 20px;
    padding: 20px;
    width: 300px;
    box-shadow: 2px 2px 4px rgba(0,0,0,.2);
    transition: box-shadow 0.2s ease-in-out;
}

.card:hover {
    box-shadow: 2px 2px 4px rgba(0,0,0,.5);
}

.card img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.card h3 {
    color: #ff6f00;
    font-size: 1.5em;
}

.card p {
    color: #666;
    font-size: 1em;
    margin: 10px 0;
    font-weight: 400;
}

.card a {
    color: #ff6f00;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    text-decoration: underline;
    margin-bottom: .5em;
}

span.material-symbols-outlined {
    font-size: 1em;
}


div.book-links a.book-link {
    display: inline-block;
}

.paperback-link {
    background-color: #146eb4;
    color: white;
}

.paperback-link:hover {
    background-color: #115991;
}

.kindle-link {
    background-color: #ff9900;
    color: white;
}

.kindle-link:hover {
    background-color: rgb(218, 131, 0);
}


/* ----- ----- ----- */
/* ----- ----- ----- */

/* Blockquote */

blockquote {
    font-size: 1.2rem;
    font-style: italic;
    color: #555;
    border-left: 5px solid #0056b3;
    margin: 1.5rem 0;
    padding: 0.5rem 1rem;
    background-color: #f9f9f9;
    quotes: "“" "”" "‘" "’";
}

blockquote:before {
    content: open-quote;
    font-size: 2rem;
    color: #0056b3;
    vertical-align: top;
    line-height: 0;
    margin-right: 0.2rem;
}

blockquote:after {
    content: close-quote;
    font-size: 2rem;
    color: #0056b3;
    vertical-align: bottom;
    line-height: 0;
    margin-left: 0.2rem;
}

blockquote p {
    display: inline;
}


/* ----- ----- ----- */
/* ----- ----- ----- */

/* Footer */
footer {
    background-color: #00045d;
    color: #fff;
    text-align: center;
    padding: 2rem;
}

footer p {
    font-family: "Lato", sans-serif;
    color: inherit;
}

footer .mailing-list {
    margin-top: 1rem;
}

footer form {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer input[type="email"] {
    padding: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 5px;
    border: none;
}

footer button {
    padding: 0.5rem 1rem;
    background-color: #ff9900;
    border: none;
    color: #fff;
    cursor: pointer;
}

footer a {
    font-size: 1em;
    color: #ff6f00;
    cursor: pointer;
    height: 90px;
    width: 100px;
    font-weight: 500;
}


/* ----- ----- ----- */
/* ----- ----- ----- */

@media screen and (max-width: 768px) {

    header h1 {
        font-size: 1.5em;
    }

hero img {
        max-width: 150px;
    }

    .about-text p {
        font-size: 1.1rem;
        line-height: 1.6rem;
    }

    section.new-releases {
        padding: .5rem;
    }
}